<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Link Expired</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
     <div id="container">
          <h2>Opps... You should give this book only within 3 days.</h2>
          <p><strong>Note:</strong> Now time is over you shouldn't give this book <%= qs.title %> | <%= qs.author %> to <%= qs.username %></p>
          <p>If you already gave this book and forgot to confirming then ask to <%=qs.username %> for resend the request for this book.</p>
          <p>If you have any queries, contact us: <a href="mailto:bakoliyarohit@gmail.com">bakoliyarohit00@gmail.com</a></p>
     </div>
</body>
</html>
